.courses {
    background: linear-gradient(253.43deg, #878787 0%, #CBCAC8 87.21%);
    display: flex;
    font-family: $font-main;

    &__content {
        &-right {
            display: flex;
            flex-direction: column;
            flex: 0 0 60%;

            &-title {
                font-weight: 400;
                font-size: 50px;
                line-height: 60px;
                color: $color-light;
                margin-top: 36px;
                margin-left: 84px;
            }

            &-image {
                display: flex;
                position: relative;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                .first{
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                .second{
                    top: 0;
                    right: 0;
                }
            }
        }

        &-left {
            p {
                font-weight: 400;
                font-size: 24px;
                line-height: 28px;
                color: $color-light;
                margin-top: 42px;           
             }

            &-buttons {
                display: flex;
                justify-content: space-between;
                height: 54px;
                width: 33%;
                margin-top: 48px;

                a {
                    padding: 16px 36px;
                    color: $dark-brown;
                    background-color: $color-light;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    border: none;
                    margin-right: 24px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: none;

                    img{
                        width: 36px;
                        height: 36px;
                        margin-left: 8px;
                    }
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}